/**
 * Component CSS for responsive menus
 * Push menu code based on: https://tympanus.net/codrops/2013/04/17/slide-and-push-menus/
 */

/* Fix header layout */
@media all and (max-width: 960px) {
  .region-header {
    display: grid;
    grid-template-columns: auto 2em;
    grid-gap: .5em;
  }
}

/* Toggle/close icons */
button.menu--toggle {
  background: transparent;
  color: transparent;
  cursor: pointer;
  opacity: .5;
  margin: 3px .7rem;
  padding: 0;
}
button.menu--toggle:hover,
button.menu--toggle:focus {
  background: none;
}
.menu--toggle svg {
  height: 1.6rem;
  width: 1.6rem;
}

/* Vertical menu that slides from the left or right */
.responsive-menu {
  background: var(--color-primary);
  color: var(--color-primary--foreground);
	padding: 1em;
}
.responsive-menu a,
.responsive-menu a:hover,
.responsive-menu a:focus {
  color: var(--color-primary--foreground);
}
.responsive-menu .menu--close svg {
  fill: var(--color-primary--foreground);
}

/* Main menu in slideout */
.responsive-menu .menu {
  flex-direction: column;
  margin-bottom: 2em;
}
.responsive-menu .menu li {
  display: block;
  font-size: 1.1em;
  line-height: 2;
  padding: .5em;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

/* Second menu in slideout */
.responsive-menu .menu + .menu {
  border: none;
  margin-top: 2rem;
}
.responsive-menu .menu + .menu li {
  font-size: .9rem;
  border: none;
}
.responsive-menu .menu + .menu li a {
  padding: .7rem 1rem;
}

/* Slide-out positioning */
.responsive-menu {
  position: fixed;
	width: 80vw;
	height: 100vh;
	top: 0;
	z-index: 1000;
}
.menu--push_left {
	left: -80vw;
}
.menu--push_right {
	right: -80vw;
}
.menu--push_left.menu--open {
	left: 0px;
}
.menu--push_right.menu--open {
	right: 0px;
}

/* Close Icons */
.responsive-menu .menu--close {
  display: block;
  opacity: 1;
  padding: 0.7rem .7rem 0;
}
.menu--push_left .menu--close {
  transform: rotate(180deg);
}
.menu--push_left .menu--close svg {
  fill:  var(--color-primary--foreground);
}

/* Search form button adjustment */
.responsive-menu input.form-submit {
  background: var(--color-primary--foreground);
  color: var(--color-primary);
  margin-left: .2em;
}

/* Make everything slide right/left */
.responsive-menu,
body {
  transition: all 0.3s ease;
}
body {
 	overflow-x: hidden;
  left: 0;
  position: relative;
}
body.menu--push_right.menu--open {
 	left: -70vw;
}
.menu--push_left.menu--open {
 	left: 70vw;
}

/* Dropdowns */
.responsive-menu li.expanded {
  position: relative;
}
.responsive-menu li.expanded > *:first-child {
  max-width: calc(100% - 3.2rem);
}
.responsive-menu li.expanded .menu-trigger {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}
.responsive-menu li.expanded svg {
  padding: 1rem;
  width: 3.2rem;
}
.responsive-menu li.expanded .menu-trigger.expanded svg {
  transform:rotate(180deg);
}
.responsive-menu li.expanded > ul {
  clear: both;
  position: static;
  display: none;
}
.responsive-menu li.expanded > ul.expanded {
  display: block;
}
