/**
 * Basic typography
 * Font family will be set in the fonts.css file

 */
body {
  font-family: sans-serif;
  /* Set a responsive base font size */
  font-size: calc(14px + 0.3vw);
  line-height: 1.75;
  color: #000;
}

/* Set a margin on block level elements */
h1, h2, h3, h4, h5, ol, ul, dl, table, blockquote, p, .form-item, fieldset, details {
  margin: calc(0.2em + 0.7vw) 0;
}
h1, h2, h3 {
  font-weight: 600;
}
/* Modular scale for heading sizes */
/* Scale 1.250 -- Major Third */
h1 { font-size: 1.953em; }
h2 { font-size: 1.563em; }
h3 { font-size: 1.25em; }

/** Lists */
ol, ul {
  padding-left: 1.4em;
  margin-left: 0;
}
ul ul,
ol ol,
ol ul,
ul ol {
  padding-left: 1em;
  margin: .225em 0;
}
dt {
  font-weight: bold;
  margin-bottom: .5em;
}
dd {
  margin: 0;
}

/* Blockquotes */
blockquote {
  border-left: 0.3rem solid#d1d1d1;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}

/* Inline elements */
code, kbd {
  font-family: monospace;
}
mark {
  background: rgba(244, 210, 24, 0.5);
}
